<form action="/named-cat">
  <input type="text" name="name" placeholder="Enter a name">
  <input type="text" colour="colour" placeholder="Enter a colour">
  <input type="submit" value="Submit">
</form>