<h1 style='border:dashed blue; margin: 100px; width: 700px'> GO TO "/CAT-FORM" TO GIVE ME A NAME </h1>
<div style='border:dashed blue; margin: 100px; width: 200px'> 
<img src='http://placekitten.com/200/200'>
</div>